html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  background-color: var(--background);
  overflow: hidden; 
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw; 
  overflow: hidden;
}

.login-left {
  flex: 1;
  min-width: 400px;
  background-color: var(--text-1);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.login-left img {
  width: 300px !important;
  height: auto;
  max-width: none;
  flex-shrink: 0;
  object-fit: contain;
  margin-top: 50px;
  margin-bottom: 60px;
}


.login-left h1 {
  font-size: 35px !important;
  font-weight: 600;
  text-transform: capitalize !important;
  color: var(--white);
  margin-top: -40px;

}

.login-right {
  flex: 1;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  padding: 2rem;
}

.login-box {
  width: 100%;
  max-width: 420px;
}

.login-box h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #0b1c3a;
  margin-bottom: 0.5rem;
  text-align: center;
  border-bottom: 2px solid var(--primary);
  padding-bottom: 8px;

}

.login-box p {
  color: #5a6473;
  margin-top: 1.5rem !important;
  margin-bottom: 2rem;
  text-align: center;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box label {
  font-weight: 600;
  color: #0b1c3a;
  margin-bottom: 0.3rem;
}

.login-box input {
  padding: 0.9rem 1rem;
  margin-bottom: 1.2rem;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  transition: var(--transition-300) ease-in-out;
}

.login-box input:focus {
  border-color: var(--text-1);
  box-shadow: var(--shadow-300);
}

.login-box button {
  background-color: var(--primary-light);
  color: var(--sidebar-text);
  font-weight: 600;
  padding: 0.9rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--transition-300) ease-in-out;
}

.login-box button:hover {
  background-color: var(--primary);
}

.login-modal-alert {
  position: absolute;
  top: 30px;
  left: 36%;
  transform: translateX(-50%);
  padding: 12px 24px;
  border-radius: 12px;
  color: var(--white);
  font-weight: 500;
  z-index: 10;
  box-shadow: var(--shadow-300);
  backdrop-filter: blur(6px);
  max-width: 360px;
  text-align: center;
}

.login-modal-alert.error {
  background: linear-gradient(135deg,  #102547bd, #0B1C3A );
}

.login-modal-alert.info {
  background: linear-gradient(135deg, #836337b4, #946b39);
}


@media (max-width: 900px) {
  html, body {
    overflow: auto; 
  }

  .login-container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .login-left {
    height: 200px;
    flex: none;
  }

  .login-right {
    flex: none;
    padding: 2rem 1rem;
  }
}
