.edit-profile-container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

input {
  width: 100%;
  padding: 5px;
}

button {
  padding: 5px 10px;
  background-color: #081535;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #AD7B3A;
}
