.edit-profile-container {
  padding: 2rem;
  max-width: 600px;
  margin: auto;
  background: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.edit-profile-container h2 {
  text-align: center;
  margin: 0 auto;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5rem;
  margin-top: 0.2rem;
  border: 2px solid #ccc;
}

.save-btn {
  background-color: #AD7B3A;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.save-btn:hover {
  background-color: #c7924c;
}

label {
  margin-bottom: -2px;
}