.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  min-height: 100vh;
}

.register-box {
  background: var(--white);
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: var(--shadow-200);
  width: 350px;
  text-align: center;
}

.register-title {
  color: var(--text-1);
  font-size: 1.8rem;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--primary);
  display: inline-block;
  padding-bottom: 5px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-label {
  text-align: left;
  color: var(--text-1);
  font-weight: 600;
  font-size: 0.95rem;
}

.register-input {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccd2e3;
  background-color: #fafbff;
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow var(--transition-300) ease-in-out;
}

.register-input:focus {
  border-color: var(--primary);
  outline: none;
  box-shadow: var(--shadow-200);
}

.register-button {
  background-color: var(--primary);
  color: var(--sidebar-text);
  border: none;
  border-radius: 6px;
  padding: 12px 0;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition-300) ease-in-out;
}

.register-button:hover {
  background-color: var(--primary);
  transform: translateY(-1px);
}

.register-panel-wrapper {
  margin-left: 20px;
  width: calc(100% - 20px); 
  padding: 0rem;
  box-sizing: border-box;
}