.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #081535;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.main-content {
  margin-left: 220px;
  padding: 30px;
  background-color: #f5f5f5;
  min-height: 100vh;
  overflow-y: hidden;
}

.sidebar h2 {
  color: white;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 1.4rem;
  letter-spacing: 1.5%;
}

.user-info {
  position: relative; 
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #444;
}

.user-logo-bg {
  position: absolute;
  top: 5px;         
  left: 65%;       
  width: 79px;       
  height: 79px;
  object-fit: contain;
  opacity: 0.7 !important;      
  z-index: 0;        
  transform: translate(-50%, 0); 
  pointer-events: none;
  filter: brightness(1.3);
}

.user-avatar {
  position: relative;
  z-index: 1; 
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #555;
  margin-bottom: 10px;
  top: 2px;
  right: 8%
}


.user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #886940;
  margin-bottom: 10px;
}

.user-name {
  color: #fff;
  font-size: 1.1rem;
  margin: 20px 0 2px;
}

.user-email {
  color: #aaa;
  font-size: 0.85rem;
  margin-bottom: 15px;
}

.menu-item {
  margin-top: -10px;
  margin-bottom: 10px;
}

.menu-link,
.submenu a,
.submenu-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 8px 0;
  width: 100%;
  text-align: left;
  transition: color 0.2s, background-color 0.2s;
}

.menu-link:hover,
.submenu a:hover,
.submenu-toggle:hover {
  color: #AD7B3A;
}

.submenu {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 5px;
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: auto;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.2s;
  margin-bottom: 30px;
  font-size: 15px;
}

.logout-btn:hover {
  color: #AD7B3A;
  color: white;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

@media (max-width: 900px) {
  .sidebar {
    width: 180px;
    padding: 15px;
  }

  .main-content {
    margin-left: 180px;
    padding: 20px;
  }

  .menu-link,
  .submenu-toggle {
    font-size: 14px;
  }
}

.submenu-toggle:hover {
  color: white;
}

