html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #081535;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 220px;
  background-color: #081535;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.main-content {
  flex: 1;
  margin-left: 220px;
  padding: 40px;
  background-color: #f5f5f5;
  overflow-y: auto;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}


h1, h2, h3 {
  color: #081535;
}

button {
  background-color: #AD7B3A;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #c7924c;
}
